@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


:root{
    /* ======= Colors ======= */

    --primary-color: #0E4BF1;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #E6E5E5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FF36AC;
    --box3-color: #37D1FC;
    --title-icon-color: #fff;

    /* ====== Transition ====== */

    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-02: all 0.2s ease;
    
}

/* designing for body */

body{
    min-height: 100vh;
    background-color: var(--primary-color);
}


body.dark{

    /* ======= Colors ======= */

    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
}


/* end body */


/* designing for side navigation bar */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}


nav.close{
    width: 73px;
}

nav .logo-name{
    display: flex;
    align-items: center;
}

nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
    /* background-color: red; */
}


nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}


nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}


nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}


/* sidebar structure is end here */
/* designing for sidebar links */

nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.menu-items li{
    list-style: none;
    
}


.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}



.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.menu-items li a i{
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 24px;
    color: var(--black-light-color);
}

.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05 );
}


nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}

.menu-items li a:hover i,
.menu-items li a:hover .link-name{
    color: var(--primary-color);
}


body.dark .menu-items li a:hover i,
body.dark .menu-items li a:hover .link-name{
    color: var(--text-color);
}

.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}

.menu-items #logout-btns{
    cursor: pointer;
}

.menu-items #logout-btns form input{
    cursor: pointer;
}

.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}


.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}


.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

body.dark .switch:before{
    left: 20px;
}


/* sidebar navigation end here */

/* dashboard top navigation bar designing */

    .dashboard{
        position: relative;
        left: 250px;
        background-color: var(--panel-color);
        min-height: 100vh;
        width: calc(100% - 250px);
        padding: 10px 14px;
        transition: var(--tran-05);
    }

    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }


    .dashboard .top{
        position: fixed;
        top: 0;
        left: 250px;
        display: flex;
        width: calc(100% - 250px);
        justify-content: space-between;
        align-items: center;
        padding: 10px 14px;
        background-color: var(--panel-color);
        transition: var(--tran-05);
        z-index: 10;
    }

    .dashboard .top div:last-child{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        background-color: #f0f0f0;
        border-radius: 10px;
    }
  
    .dashboard .top div:last-child div{
        margin-right: 20px;
    }
  
    nav.close ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }


    .dashboard .top .sidebar-toggle{
        font-size: 26px;
        color: var(--text-color);
        cursor: pointer;
    }


    .dashboard .top .search-box{
        position: relative;
        height: 45px;
        max-width: 600px;
        width: 100%;
        margin: 0 30px;
        /* background-color: red; */
    }

    .top .search-box input{
        position: absolute;
        border: 1px solid var(--border-color);
        background-color: var(--panel-color);
        padding: 0 25px 0 50px;
        border-radius: 5px;
        height: 100%;
        width: 100%;
        color: var(--text-color);
        font-size: 15px;
        font-weight: 400;
        outline: none;
    }

    .top .search-box i{
        position: absolute;
        left: 15px;
        font-size: 22px;
        z-index: 10;
        top: 50%;
        transform: translateY(-50%);
        color: var(--black-light-color);
    }


    .top img{
        width: 40px;
        border-radius: 50%;
        /* background-color: red; */
    }
/* end  */


body.dark li a:hover::before{
    background-color: var(--text-color);
}


/* dashboard's main content's styling */

    .dashboard .dash-content{
        padding-top: 50px;
    }


    .dash-content .title{
        display: flex;
        align-items: center;
        margin: 70px 0 30px 0;
    }
    
    .dash-content .filter-options{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .dash-content .filter-options div{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dash-content .title i{
        position: relative;
        height: 35px;
        width: 35px;
        background-color: var(--primary-color);
        border-radius: 6px;    
        color: var(--title-icon-color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }

    .dash-content .title .text{
        font-size: 24px;
        font-weight: 500;
        color: var(--text-color);
        margin-left:  10px;
    }

    .dash-content .boxes{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .dash-content .boxes .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 12px;
        width: calc(100% / 3 - 15px);
        padding: 15px 20px;
        background-color: var(--box1-color);
        transition: var(--tran-05);
    }


    .boxes .box i{
        font-size: 35px;
        color: var(--text-color);
    }
    .boxes .box .text{
        white-space: nowrap;
        font-size: 18px;
        font-weight: 500;
        color: var(--text-color);
    }

    .boxes .box .number{
        font-size: 40px;
        font-weight: 500;
        color: var(--text-color);
    }

    .boxes .box.box2{
        background-color: var(--box2-color);
    }

    .boxes .box.box3{
        background-color: var(--box3-color);
    }
/* end */



/* styling main content */

    .dash-content .activity .activity-data{
        /* display: flex; */
        /* justify-content: space-between; */
        /* align-items: center; */
        /* width: 100%; */
        display: block;
        width: 100%;
    }
    
    .activity .activity-data th{
        text-align: start;
        font-size: 20px;
        font-weight: 500;
        color: var(--text-color);

    }

    .activity .activity-data td{
        font-size: 18px;
        font-weight: 400;
        margin-top: 20px;
        white-space: nowrap;
        color: var(--text-color);
    }
    
    .activity .activity-data tr{
        margin: 5px 15px;
    }

    .activity-data .data{
        width: calc(100vw / 5);
        padding-right: 20px;
    }

    .activity-data .data .data-list button{
        width: 50px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid white;
        font-size: 15px;
        font-weight: 600;
        color: black;
        padding: 0;
        margin: 0 5px;
        cursor: pointer;
}
/* end */

/* form styling */


#form-data{
    position: relative;
    /* left: 250px; */
    background-color: var(--panel-color);
    width: calc(100%);
    padding: 10px 14px;
    transition: var(--tran-05);
    padding-top: 50px;
}

#form-data div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#form-data div label{
    display: inline-block;
    width: calc(100vw / 8);
    color: var(--text-color);
}

#form-data div input{
    height: 40px;
    padding: 10px 20px;
    border-radius: 50px;
    margin: 10px 0px;
    display: inline-block;
    width: calc(100vw / 5);
}

#form-data .form-btn{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
}


#form-data .form-btn input[type="reset"], #form-data .form-btn button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    outline: 1px solid white;
    border: 1px solid white;
    font-size: 15px;
    font-weight: 600;
    color: black;
    padding: 0;
    margin: 0 20px;
}
/* end */

/* media queries */

    @media (max-width: 1000px){
        nav{
            width: 73px;
        }
        
        nav.close{
            width: 250px;
        }

        nav .logo_name{
            opacity: 0;
            pointer-events: none;
        }
        
        nav.close .logo_name{
            opacity: 1;
            pointer-events: auto;
        }

        nav li a .link-name{
            opacity: 0;
            pointer-events: none;
        }
        
        nav.close li a .link-name{
            opacity: 1;
            pointer-events: auto;
        }

        nav ~ .dashboard{
            left: 73px;
            width: calc(100% - 73px);
        }
    

        nav ~ .dashboard .top{
            left: 73px;
            width: calc(100% - 73px);
        }

        nav.close ~ .dashboard{
            left: 250px;
            width: calc(100% - 250px);
        }
    

        nav.close ~ .dashboard .top{
            left: 250px;
            width: calc(100% - 250px);
        }

        .activity .activity-data{
            overflow-y: scroll;
        }
    }


    @media (max-width: 780px) {
        .dash-content .boxes .box{
            width: calc(100% / 2 - 15px);
            margin-top: 15px;

        }
    }



    @media (max-width: 560px) {
        .dash-content .boxes .box{
            width: 100%;
        }
    }


    @media (max-width: 500px) {
        nav{
            width: 73px;
        }
        
        nav.close{
            width: 73px;
        }

        nav .logo_name{
            opacity: 0;
            pointer-events: none;
        }
        
        nav.close .logo_name{
            opacity: 0;
            pointer-events: none;
        }

        nav li a .link-name{
            opacity: 0;
            pointer-events: none;
        }
        
        nav.close li a .link-name{
            opacity: 0;
            pointer-events: none;
        }

        nav ~ .dashboard{
            left: 73px;
            width: calc(100% - 73px);
        }
    

        nav ~ .dashboard .top{
            left: 73px;
            width: calc(100% - 73px);
        }

        nav.close ~ .dashboard{
            left: 73px;
            width: calc(100% - 73px);
        }
    

        nav.close ~ .dashboard .top{
            left: 73px;
            width: calc(100% - 73px);
        }

        .dashboard .top .sidebar-toggle{
            display: none;
        }
        
    }
/* end */

/* styling for event's result */
#result-data{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#result-data .success-result{
    display: none;
}

#result-data .error-result{
    display: none;
}


/* end */

/* Styling for the model box of edit staff page */

#model{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 30;
}

#model .model-box{
    position: relative;
    top: 10%;
    left: 20%;
    right: 20%;
    width: 60%; 
    background-color: var(--black-light-color);
    padding: 20px;
    border-radius: 10px;
}

#model .model-box .close-btn{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    padding: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    border: none;
}
#model .model-box form div{
    padding: 10px 0px;
    font-size: 20px;
}


#model .model-box div label{
    display: inline-block;
    width: calc(100vw / 8);
    color: var(--text-color);
}

#model .model-box div input{
    height: 40px;
    padding: 10px 20px;
    border-radius: 50px;
    margin: 10px 0px;
    display: inline-block;
    width: calc(100vw / 5);
}

#model .model-box .form-btn{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
}

#model .model-box .form-btn button,#model .model-box .form-btn input[type="reset"]{
        width: 100px;
        height: 30px;
        border-radius: 5px;
        outline: 1px solid white;
        border: 1px solid white;
        font-size: 15px;
        font-weight: 600;
        color: black;
        padding: 0;
        margin: 0 20px;
}

/* end model box styling */


/* filters */
.boxes .filter-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* background-color: var(--box1-color); */
    height: 50px;
    padding: 0 20px;
    border-radius: 10px;
}

.boxes .filter-box .filter-options{
    width: 200px;
    height: 40px;
}

.boxes .filter-box .filter-options select{
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    width: 100%;
    height: 100%;
    text-align: center;
    outline: none;
    border-radius: 10px;
    color: var(--text-color);
}


/* end */




.menu-items li form div{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}



.nav-links li form div:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.menu-items li form div i{
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 24px;
    color: var(--black-light-color);
}

.menu-items li form div input{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05 );
    background-color: transparent;
    border: none;
    outline: none;
}


nav.close li form div input{
    opacity: 0;
    pointer-events: none;
}

.menu-items li form div:hover i,
.menu-items li form div:hover input{
    color: var(--primary-color);
}


body.dark .menu-items li form div:hover i,
body.dark .menu-items li form div:hover input{
    color: var(--text-color);
}

#model-open{
    cursor: pointer;
}

#model-box{
    position: absolute;
    right: 15px;
    top: 55px;
    background-color: #f0f0f0;
    z-index: 20;
    width: 150px;
    height: 50px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#model-box a{
    text-decoration: none;
    color: black;
}